.table_container {
    margin-bottom: 10px;
    font-family: Arial;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-right: 5px;

        tr {
            border-bottom: 2px solid white;
            height: 35px;
        }

        img {
            height: 25px;
        }

        .tinylogo {
            height: 15px;
        }
    }
}

.region0 {
}

.region1 {
}

.region2 {
}

.region3 {
}

.region_header {
   text-align: center; 
}

.region_column {
    max-width: fit-content;
    position: relative;
    float: left;
}

.grayrow {
    background: lightgray;
}

.column1 {
    margin-right: 30px;
}

.column2 {
    table td:nth-child(4) {
        text-align: right;
    }
}

.siteleftcol {
    width: 150px;
}

.siterightcol {
    width: 150px;
    text-align: right;
}

.seedcol {
    width: 25px;
}

.logocol {
    width: 32px;
}

.bracket_container {

}

.bubble_container {
    float: inline-start;

    td {
        margin-right: 10px;
    }
}
