body {
    margin: 20px auto;
    padding: 10px;
    max-width: 1200px;
}

.table_container {
    margin-bottom: 10px;
    font-family: Arial;
}

.bubble_table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 5px;
}

.region_table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 5px;
}

.resume_table {
    border-collapse: collapse;
}

.tiny_logo {
    height: 15px;
}

.team_logo {
    height: 25px;
}

.bracket_row {
    border-bottom: 2px solid white;
    height: 35px;
}

.bubble_row {
    border-bottom: 2px solid white;
    height: 35px;
}

.resume_row {
    border-bottom: 2px solid white;
}

.region_header {
   text-align: center; 
}

.region_column {
    max-width: fit-content;
    position: relative;
    float: left;
}

.gray_row {
    background: lightgray;
}

.column1 {
    margin-right: 10px;
}

.column2 {
    table td:nth-child(4) {
        text-align: right;
    }
}

.siteleftcol {
    width: 150px;
}

.siterightcol {
    width: 150px;
    text-align: right;
}

.seedcol {
    width: 25px;
}

.logocol {
    width: 32px;
}

.teamcol {
    min-width: 105px;
}

.recordcol {
    min-width: 40px;
}

.rankcol {
    min-width: 35px;
}

.wincol {
    min-width: 500px;
}

.losscol {
    max-width: 250px;
}

.header_row {
    font-weight: bold;
}

.link_row {

}

.link_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: lightblue;
}

.link_element {
    
}

.non_image_element {
    padding-top: 16px;
}

.dropdown_element {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    background-color: gray;
    color: white;
    font-size: 16px;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: lightgray;
    min-width: 200px;
    z-index: 1;
}

.dropdown_content a {
    padding-bottom: 10px;
    display: block;
}

.dropdown_element:hover .dropdown_content {
    display: block;
}

.bracket_container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bubble_container {
    display: inline-block;

    td {
        margin-right: 10px;
    }
}

.seed_list_container {
    font-family: Arial;
}

.words_container {
    width: 80%;
    font-family: Arial;
    background-color: lightgray;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_header {
    text-align: center;
}

.title_row {
    margin-top: 10px;
    text-align: center;
    font-family: Arial;
}

.date_row {
    margin-top: 10px;
    text-align: center;
    font-family: Arial;
}

.schedule_block {
    font-family: Arial;
}

.game_line {
    font-size: 16px;
    padding-bottom: 3px;
    padding-top: 5px;
}
