body {
    margin: 20px auto;
    padding: 10px;
    max-width: 1200px;
}

.table_container {
    margin-bottom: 10px;
    font-family: Arial;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-right: 5px;

        tr {
            border-bottom: 2px solid white;
            height: 35px;
        }

        img {
            height: 25px;
        }

        .tinylogo {
            height: 15px;
        }
    }
}

.region_header {
   text-align: center; 
}

.region_column {
    max-width: fit-content;
    position: relative;
    float: left;
}

.grayrow {
    background: lightgray;
}

.column1 {
    margin-right: 10px;
}

.column2 {
    table td:nth-child(4) {
        text-align: right;
    }
}

.siteleftcol {
    width: 150px;
}

.siterightcol {
    width: 150px;
    text-align: right;
}

.seedcol {
    width: 25px;
}

.logocol {
    width: 32px;
}

.teamcol {
    min-width: 105px;
}

.recordcol {
    min-width: 40px;
}

.rankcol {
    min-width: 35px;
}

.wincol {
    min-width: 500px;
}

.losscol {
    max-width: 250px;
}

.header_row {
    font-weight: bold;
}

.link_row {

}

.link_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-family: Arial;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: lightblue;
}

.link_element {
    
}

.bracket_container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bubble_container {
    float: inline-start;

    td {
        margin-right: 10px;
    }
}

.words_container {
    width: 80%;
    font-family: Arial;
    background-color: lightgray;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section_header {
    text-align: center;
}

.date_row {
    margin-top: 10px;
    text-align: center;
    font-family: Arial;
}
